body{
    font-family: "Poppins", sans-serif;
}

#admin-table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption{
    font-weight: 700;
    font-size: 25px;
}

.admin-cell{
    width: 10vw;
    height: 10vh;
    text-align: center;
    vertical-align: center;
}

.admin-product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}