<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/admin-view.css" type="text/css"/>
</head>
<body>
    <div id="main-container">
        <div id="admin-table-container">
            <table id="admin-products-table">
                <caption>Business View</caption>
                <tr>
                    <th class="admin-table-title">Product Name</th>
                    <th class="admin-table-title">Product Image</th>
                    <th class="admin-table-title">Product Price</th>
                    <th class="admin-table-title">Quantity Sold</th>
                    <th class="admin-table-title">Total Revenue</th>
                </tr>
                <tr class="admin-table-row">
                    <td class="admin-product-name admin-cell">
                        Refridgerator
                    </td>
                    <td class="admin-product-image admin-cell">
                        <img src="https://zlinekitchen.com/cdn/shop/products/zline--french--door--stainless--steel--standard--depth--refrigerator--RSM-W-36--side.jpg?v=1722276759&width=1946">
                    </td>
                    <td class="admin-product-price admin-cell">
                        $500
                    </td>
                    <td class="admin-product-quantity-sold admin-cell">
                        2
                    </td>
                    <td class="admin-product-revenue admin-cell">
                        $1000
                    </td>
                </tr>
                <tr class="admin-table-row">
                    <td class="admin-product-name admin-cell">
                        Microwave
                    </td>
                    <td class="admin-product-image admin-cell">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6577/6577280_sd.jpg">
                    </td>
                    <td class="admin-product-price admin-cell">
                        $300
                    </td>
                    <td class="admin-product-quantity-sold admin-cell">
                        5
                    </td>
                    <td class="admin-product-revenue admin-cell">
                        $1500 
                    </td>
                </tr>
                <tr class="admin-table-row">
                    <td class="admin-product-name admin-cell">
                        Dishwasher
                    </td>
                    <td class="admin-product-image admin-cell">
                        <img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/28f0ed55-0925-4cf5-92a1-cd8e15b2e4c3.jpg">
                    </td>
                    <td class="admin-product-price admin-cell">
                        $450
                    </td>
                    <td class="admin-product-quantity-sold admin-cell">
                        1
                    </td>
                    <td class="admin-product-revenue admin-cell">
                        $450
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>