<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Your Account</title>
    <link rel="stylesheet" href="../styles/dashboard.css" type="text/css"/>
</head>
<body>
    <div id="main-container">
        <div id="account-container">
            <div id="account-title">Your Account</div>
            <div id="account-options-container">
                <div id="first-option-row" class="option-row">
                    <div id="login-security" class="account-option">
                        <div class="option-title">
                            Login & Security
                        </div>
                        <div class="option-description">
                            Edit login details, name, e-mail, etc.
                        </div>
                    </div>
                    <div id="order-history" class="account-option">
                        <div class="option-title">
                            Order History
                        </div>
                        <div class="option-description">
                            View past orders and invoices
                        </div>
                    </div>
                    <div id="address" class="account-option">
                        <div class="option-title">
                            Address
                        </div>
                        <div class="option-description">
                            View and edit your delivery address
                        </div>
                    </div>
                </div>
                <div id="second-option-row" class="option-row">
                    <div id="payment" class="account-option">
                        <div class="option-title">
                            Payment Options
                        </div>
                        <div class="option-description">
                            View, add, and edit credit/debit cards and other payment settings
                        </div>
                    </div>
                    <div id="customer-service" class="account-option">
                        <div class="option-title">
                            Customer Service
                        </div>
                        <div class="option-description">
                            Find FAQs and necessary contact information of developers
                        </div>
                    </div>
                    <div id="messages" class="account-option">
                        <div class="option-title">
                            Messages
                        </div>
                        <div class="option-description">
                            See previous correspondence
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../js/dashboard.js"></script>

</body>
</html>