<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Login & Security</title>
    <link rel="stylesheet" href="../styles/login-edit.css" type="text/css"/>
</head>
<body>
    <div id="main-container">
        <div id="submain-container">
            <div id="path-row">
                <a href="./account-view.html">Your Account></a>
                <span>Login & Security</span>
            </div>
            <div id="title-row">
                Login & Security
            </div>
            <div id="edit-container">
                <div class="edit-box border-bottom">
                    <div id="name-row" class="edit-row">
                        <div class="title">Name</div>
                        <input type="text" id="name-input"/>
                    </div>
                    <button class="save-changes">Save Change</button>
                </div>
                <div class="edit-box border-bottom">
                    <div id="email-row" class="edit-row">
                        <div class="title">Email</div>
                        <input type="email" id="email-input "/>
                    </div>
                    <button class="save-changes">Save Change</button>
                </div>
                <div class="edit-box border-bottom">
                    <div id="phone-row" class="edit-row">
                        <div class="title">Phone Number</div>
                        <input type="text" id="phone-input"/>
                    </div>
                    <button class="save-changes">Save Change</button>
                </div>
                <div class="edit-box">
                    <div id="password-row" class="edit-row">
                        <div class="title">Password</div>
                        <input type="password" id="password-input"/>
                    </div>
                    <button class="save-changes">Save Change</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
